{%- assign icon_color = "#24292e" -%}
{%- assign content = page.content -%}
{%- assign posts_total = site.posts | size -%}
{%- assign user = site.github.owner -%}
{% if page.path contains '_posts' %}
  {%- assign page_title = page.title -%}
  {%- assign meta_description = page.content | strip_html | strip_newlines | xml_escape | truncate: 300 -%}
{% else %}
  {%- assign page_title = user.name -%}
  {%- assign meta_description = user.bio | strip_html | strip_newlines | xml_escape | truncate: 300 -%}
{%- endif -%}
<html class="min-height-full" data-color-mode="auto" data-dark-theme="dark_dimmed" data-light-theme="light">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ meta_description }}" />
    <meta property="og:title" content="{{ page_title }}" />
    <meta property="og:description" content="{{ meta_description }}" />
    {% if page.twitter_image %}
    <meta property="og:image" content="{{ page.twitter_image | absolute_url }}" />
    <meta name="twitter:card"  content="summary_large_image">
    {% else %}
    <meta property="og:image" content="{{ site.avatar_url | absolute_url }}" />
    <meta name="twitter:card"  content="summary">
    {% endif %}
    <meta name="twitter:site" content="@{{ site.social_media.twitter }}">
    <meta name="twitter:creator" content="@{{ page.author | default: site.social_media.twitter }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/assets/css/index.css" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/svg+xml" href="/icon.svg">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/icons/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon-180x180.png" />
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for {{site.title}}" href="{{ "/feed.xml" | absolute_url }}" />
    {% if site.url != "http://0.0.0.0:4000" %}
    <link rel="manifest" href="/assets/manifest.json">
    {% endif %}
    {% if page.ads == true %}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5980945033015053"
     crossorigin="anonymous"></script>
    {% endif %}
  </head>
  <body class="bg-white min-height-full">
