
<!-- <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Stephans' random thoughts</h2> -->
<!-- <p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Stuff on my mind</p> -->
<div class="container-xl">
  <div class="d-sm-flex flex-wrap gutter-condensed">
    {% for post in paginator.posts %}
    {% assign mod = forloop.index | modulo: 3 %}
    {% if mod == 1 %}
       <div class="mb-3 col-sm-12 post-big">  <!--col-md-12 col-lg-6 col-xl-6 post-{{mod}} -->
        {% include post-card.html %}
      </div>
    {% else %}
      <div class="mb-3 col-sm-12 col-md-12 col-lg-6 col-xl-6 post-{{mod}} post-small">
        {% include post-card.html %}
      </div>
    {% endif %}

    {% endfor %}
  </div>
  <!-- Pagination links -->
  <div class="pagination mt-4">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}#posts" class="previous_page">
        Previous
      </a>
    {% else %}
      <!-- <span class="previous">Previous</span> -->
    {% endif %}
    <span class="page_number ">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}#posts" class="next_page">Next</a>
    {% else %}
      <span class="next_page" aria-disabled="true">Next</span>
    {% endif %}
  </div>
</div>
