{% include header.html %}

<div class="container-fluid text-center">
  {% include masthead.html metadata=false %}

  <div class="p-4 mt-6">
    <div class="container-md">
      <article class="typology-post pt-1 mb-6 pb-4">
        <header class="entry-header">
          <h2 class="entry-title">{{ page.title }}</h2>
          <div class="post-letter">{{ page.title | slice: 0 }}</div>
        </header>
        <div class="entry-content mb-4">
          {{ content }}
        </div>
      </article>
    </div>
  </div>

  {% include block-like.html %}
</div>

{% include footer.html %}
