<!doctype html>
{% include header.html %}

<div class="container-fluid text-center">
  {% include masthead.html metadata=true %}

  <div {% if site.style == 'dark' %}class="text-white"{% endif %}>
    {{ content }}
  </div>

  {% unless posts_total == 0 %}
    <div class="p-4 mt-6" id="posts">
      {% include thoughts.html %}
    </div>
  {% endunless %}

  <div class="p-4 mt-6 color-bg-subtle">
    {% include projects.html %}
  </div>

  {% if site.topics and paginator.page == 1 %}
    <div class="p-4 mt-6">
      {% include interests.html %}
    </div>
  {% endif %}
</div>

{% include footer.html %}
