{% include header.html %}

<div class="container-fluid text-center">
  {% include masthead.html metadata=false %}
  
  <div class="p-4 mt-6">
    <div class="container-md" id="post">
      {% include article.html %}
    </div>
    <div class="pagination mt-4 text-center">
      {% if page.previous.url %}
      <a class="previous_page" href="{{page.previous.url}}">{{page.previous.title}}</a>
      {% endif %}
      
      {% if page.next.url %}
        <a class="next_page" href="{{page.next.url}}">{{page.next.title}}</a>
      {% endif %}
    </div>
  </div>

  {% include block-like.html %}
</div>


{% include footer.html %}
